h1{
  color:white;
  font-family: 'Caveat', cursive;
}
div{ background-color: #BC8F8F
}
p {color:grey;
 }
img {height:400px; width:300px;
}
h2{ color: white;
  font-family: 'Great Vibes', cursive; 
}
